* {
  margin: 0;
  padding: 0;
  text-align: justify;
  font-family: Nunito Sans;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #232323;
  background: url(img/backgroud.png);
  color: gold;
}

p {
  padding: 5px 0px 10px 0px;
}

h2, h1, h3 {
  padding: 10px 0px 15px 0px;
  color: rgb(204, 203, 203);
}

img {
  border: 1px solid #000000;
  border-radius: 20px;
  user-select: none;
 
}

img:hover {
  opacity: 0.5; 
  animation: border-color 2s reverse infinite;
  cursor: pointer; 
}
 
summary {
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.luan {
  cursor: not-allowed;
  width: 290px;
  margin: 0;
  height: 50px;
  padding: 10px;
  font-family: "Anta", sans-serif;
  font-style: normal;
  font-size: 20px;
  position:fixed;
  right: -40px;
  top: 10px;
  z-index: 2;
  animation: luan-in-right 2s ease ;
}

#cabecalho {
  background: linear-gradient(45deg, #070711, #510d2d, blue, #9d2a1d);
  background: -webkit-linear-gradient(45deg, #070711, #510d2d, blue, #9d2a1d);
  background: -o-linear-gradient(45deg, #070711, #510d2d, blue, #9d2a1d);
  background: -moz-linear-gradient(45deg, #070711, #510d2d, blue, #9d2a1d);
  background-size: 300% 300%;
  animation: colors 8s ease infinite reverse;
  height: 4em;
  position: fixed;
  width: 100%;
  z-index: 2;
  display: block;
} 

.menu-horizontal {
  display: flex;
  padding: 20px;
  list-style: none;
  box-shadow: #000 10px 0px;
  animation: animation-menu 2.5s ease reverse;
  display: flex;
  align-items: center;
}

.menu-horizontal li {
  margin: 0 10px;
}

.menu-horizontal a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  scroll-margin-top: 50px;
  padding: 25px;
}

#itens-menu {
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 1px solid gold;
  box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
}

#itens-menu:hover {
  color: black;
}

#itens-menu:active {
  transform: scale(0.9);
}

@keyframes animation-menu {
0% {
  opacity: 1;
  transform: translateX(0px) rotate(0deg);
  }
100% {
  opacity: 0;
  transform: translateX(100%) rotate(120deg);
  }
}

@keyframes colors {
0% {
  background-position: 0% 50%;
  }
25% {
  background-position: 100% 50%;
  }
100% {
  background-position: 0% 50% 
  }
}

@keyframes luan-in-right {
0% {
  opacity: 0;
  transform: translateX(2000px);
  }
60% {
  opacity: 1;
  transform: translateX(-30px);
  }
80% { 
  transform: translateX(10px);
 }
100% { 
  transform: translateX(0);
 }
}

@keyframes border-color {
  0% {
    border-color: #d1178d;
  }
  50% {
    border-color: #00ff00;
  }
  100% {
    border-color: blue;
  }
}

@keyframes muda-cor {
  0% {
  border-color: #164184;
  }
  25%{
  border-color: black;
  }
  50% {
  border-color: #fff;
  }
  75% {
  border-color: blue;
  }
  100% {
  border-color: #041538;
  }
}

@keyframes pular {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@media screen and (max-width: 800px)  {
  main .texto{
    padding: 0px;
    display: block;
    width: 260px;
    display: flex; 
    flex-direction: column;
  }
}

@media screen and (max-width: 525px)  {
  .menu-horizontal  {
    display: none;
  }
}

@media screen and (max-width: 800px)  {
  .luan {
  display: none;
  }
}

@media (max-width: 1450px) {
  img {
  display: none;
  }
}

@media (max-width: 1025px) {
  .t1, .t2 {
    width: 100%;
  }
}

#gazin {
  color: rgb(25, 171, 255);
  text-decoration: none;
}

#gazin:hover {
  color: #68fd04;
}

#start {
  padding: 80px 10px 10px 10px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  background: #070711;
  animation: muda-cor 9s linear infinite;
}

.mr-20 {
  margin-right: 20px;
  color: #9c9c9c;
  border-radius: 10px;
  padding: 30px;
}

.hb1 {
  list-style: none;
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px;
  color: white;
  text-align: center;
  font-size: 30px ; 
}

#item {
  color: rgb(25, 171, 255);
  text-align: center;
  list-style: none;
  text-decoration: none;
}

#item  a {
  color: rgb(25, 171, 255);
  text-align: center;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}

#item:hover a {
 color: #68fd04;
}

.opn {
  list-style: none;
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px;
  color: white;
  font-size: 30px ; 
}

#rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232323;
  padding: 20px ;
  position: relative;
  bottom: 0;
}

#rodape a {
  color: white;
  text-decoration: none;
}

.tabela {
  list-style: none;
}

.t1 {
  width: 560px;
  padding:0px 100px 10px 10px;
}

.t2 {
  width: 800px;
}

.t1, .t2 { 
  display: inline-block;
}

.texto {
  padding-right: 170px;
  padding-left: 170px;
}

#imagem-hat {
  display: flex;
  user-select: none;
  pointer-events: none;
}

#text-img {
  padding: 5px 20px 5px 20px;
  background-color: #232323;
  border-radius: 20px;
  border: 1px solid #000;
  color: #fff;
}

.favicon {
  border-radius:100%;
  height: 50px;
  animation: pular 6s ease-in-out infinite;
}

.azul     {
  color: #538df0;
}

.vermelho {
  color: #d43c29;
}

.amarelo  {
  color: #fbc017;
}

.verde    {
  color: #3aab54;
}

.laranja  {
  color: orangered;
}

.white    {
  color: white;
}

.cinza    {
  color: #3a3a3a;
}

#mini-hat {
  background: white;
  cursor: default;
  pointer-events: none;
  background: none;
  border: none;
  animation: pular 6s ease-in-out infinite;
}

#texts {
  padding: 0px 30px 0px 0px;
}

/* config do mouse */
::-webkit-scrollbar { 
  width: 15px; 
  background: -webkit-linear-gradient(45deg, #070711, #510d2d, blue, #000000);
}
::-webkit-scrollbar-thumb {
   background: -webkit-linear-gradient(45deg, #000000, #fff, #fff, #000000); 
}
